<form [formGroup]="reportCarForm" id="DamInjForm">
    <div class="row">
        <div class="col">
            <h2>Damages/ Injuries</h2>
            <div formGroupName="userData">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Mechanical Damage</mat-label>
                        <input matInput formControlName="mechDam">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Body Damage</mat-label>
                        <input matInput formControlName="bodyDam">
                    </mat-form-field>
                </div>
            </div>

            <h3>Add Another Car</h3>
                <div *ngFor="let car of arr; let i = index">
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Mechanical Damage</mat-label>
                            <input matInput [formControl]="car.mechanicalDamange">
                        </mat-form-field>
                    </div>
                        
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Body Damage</mat-label>
                            <input matInput [formControl]="car.bodyDamange" #bodyD>
                        </mat-form-field>
                    </div> 
                </div>
                <button mat-raised-button type="button" color="primary" (click)="onAddCar()">Add Car</button>
                <button [disabled]="carRemBtnDisable" mat-raised-button type="button" color="warn" (click)="onRemoveCar()">Remove Car</button>
        </div>

        <div class="col">
            <h2>Personnel Injuries</h2> 
                <div formGroupName="userData">
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Personnel Name</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Injuries</mat-label>
                            <input matInput formControlName="injuries">
                        </mat-form-field>
                    </div>

                    <h3>Add Personnel Injuries</h3>
                    <div *ngFor="let person of arr2; let i = index">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Personnel Name</mat-label>
                                <input matInput [formControl]="person.name">
                            </mat-form-field>
                        </div>   

                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Injuries</mat-label>
                                <input matInput [formControl]="person.injuries">
                            </mat-form-field>
                        </div>
                    </div>

                    <button mat-raised-button type="button" color="primary" (click)="onAddPerson()">Add Person</button>
                    <button [disabled]="personRemBtnDisable" mat-raised-button type="button" color="warn" (click)="onRemovePerson()">Remove Person</button>
                </div>
        </div>
    </div>

        <button mat-raised-button type="submit" color="primary" (click)='onSubmit()'>Submit</button>
</form>