<p>home works!</p>
<div class="container pt-3">
    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-6">
            <div class="card border-info">
                <div class="card-header"><h1>Login</h1></div>
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="login()">
                        <div class="form-group">
                            <input class="form-control" id="username" type="text" formControlName="username" placeholder="Username" required>
                            <!-- <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
                                <div *ngIf="form.username.errors.required">Username is required</div>
                            </div> -->
                            <input class="form-control" id="password" type="password" formControlName="password" placeholder="Password" required>
                            <!-- <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                                <div *ngIf="form.password.errors.required">Password is required</div>
                            </div> -->
                            <button class="btn btn-primary" type="submit" ngClick="login()">Login</button>
                            <span><a href="./signup/">New User? Click here to sign up.</a></span>
                        </div>
                    </form>
                </div>    
            </div>
        </div>
    </div>
</div>